.main-container {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
  margin: auto;
}

.label {
  font-size: 16px;
  justify-content: center;
}

.level-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
